# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

resources:
  repositories:
  - repository: Documentation
    type: github
    name: griddbnet/Documentation
    endpoint: MyGitHubServiceConnection
    ref: v4.5

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node.js'

- checkout: Documentation
  path: "v4.5"
  displayName: 'Checkout v4.5'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      # Write your commands here
      
      echo 'Hello world'
      echo $PWD
      echo 'Checking contents of home'
      ls -la
      echo 'Checking contents of specific dir'
      ls -la /home/vsts/work/1/v4.5
      