# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

variables:
- group: Docs Creds

resources:
  repositories:
  - repository: Documentation
    type: github
    name: griddbnet/Documentation
    endpoint: MyGitHubServiceConnection
    ref: v4.5

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node.js'

- checkout: self
  path: "main"
  displayName: 'checkout self'

- checkout: Documentation
  path: "oldBranch"
  displayName: 'Checkout v4.5'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      home=/home/vsts/work/1

      mkdir $home/latest
      mkdir $home/latest-ja

      rsync -av $home/main/docs/ $home/latest
      rsync -av $home/main/docs/ja/ $home/latest-ja

      rsync -av $home/oldBranch/docs/v4.5 $home/main/docs --exclude $home/main/docs/v4.5/ja
      rsync -av $home/oldBranch/docs/v4.5/ja/v4.5 $home/main/docs/ja

      cd $home
      mv latest $home/main/docs
      mv latest-ja $home/main/docs/ja/
      mv $home/main/docs/ja/latest-ja $home/main/docs/ja/latest

      cd $home/main/docs
      yarn
      npm run build

- task: FtpUpload@2
  inputs:
    credentialsOption: 'inputs'
    serverUrl: $(ftp_url)
    username: $(ftp_username)
    password: $(ftp_password)
    rootDirectory: '/home/vsts/work/1/main/docs/.vuepress/dist/'
    filePatterns: '**'
    remoteDirectory: '/site/wwwroot/'
    clean: false
    cleanContents: true
    preservePaths: true
    trustSSL: false