# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

resources:
  repositories:
  - repository: Documentation
    type: github
    name: griddbnet/Documentation
    endpoint: MyGitHubServiceConnection
    ref: v4.5

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node.js'

- checkout: self
  path: "main"
  displayName: 'checkout self'

- checkout: Documentation
  path: "oldBranch"
  displayName: 'Checkout v4.5'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      # Write your commands here
      home=/home/vsts/work/1/
      thisBranch="main"
      oldBranch="v4.5"
      echo $home

      rsync -av $home/main/docs/latest/ $home/latest --exclude $home/main/docs/ja
      rsync -av $home/main/docs/ja/ $home/ja
      cd $home
      mv latest $home/oldBranch/docs
      mv ja/latest $home/oldBranch/docs/ja
      echo $PWD
      echo 'Checking contents of home'
      ls -la $home
      echo 'Checking contents of specific $home/main/docs'
      ls -la $home/main/docs
      echo 'Checking contents of specific $home/oldBranch/docs'
      ls -la $home/oldBranch/docs
      cd $home/oldBranch/docs
      npm install
      npm run build
- task: AzureRmWebAppDeployment@4
  inputs:
    ConnectionType: 'AzureRM'
    azureSubscription: 'Microsoft Partner Network (c2e6da56-1250-47b6-9856-22113a1cb768)'
    appType: 'webApp'
    WebAppName: 'griddb-devops'
    deployToSlotOrASE: true
    ResourceGroupName: 'devops_test'
    SlotName: 'production'
    packageForLinux: '/home/vsts/work/1/oldBranch/docs/.vuepress/dist/'
    enableCustomDeployment: true
    DeploymentType: 'webDeploy'
    TakeAppOfflineFlag: false
      
      