# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

resources:
  repositories:
  - repository: self
    type: github
    name: griddbnet/Documentation
    ref: v4.5

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'

- checkout: v4.5

  displayName: 'Install Node.js'

- script: |
    ./build-docs.sh
  displayName: 'npm install and build'
- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Agent.BuildDirectory)/docs/.vuepress/dist'
    Contents: '**'
    TargetFolder: '/site/wwwroot'
    OverWrite: true
