// colors
$accentColor = #28b4f0
$textColor = #3c5064
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
// $navbarHeight = 3.6rem
$navbarHeight = 4.5rem
$sidebarWidth = 20rem
// $contentWidth = 740px
$contentWidth = 1024px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px