@font-face
  font-family K2D
  font-style normal
  font-weight 400
  src url(https://fonts.gstatic.com/s/k2d/v3/J7aTnpF2V0EjcKUsvrQw7g.woff2) 

@font-face
  font-family K2D
  font-style normal
  font-weight 600
  src url(https://fonts.gstatic.com/s/k2d/v3/J7aenpF2V0Err4E5k5Y9xJlCGg.woff2)

 @font-face
  font-family K2D
  font-style normal
  font-weight 700
  src url(https://fonts.gstatic.com/s/k2d/v3/J7aenpF2V0Ery4A5k5Y9xJlCGg.woff2)

body
  font-family K2D

.nav-link, .dropdown-wrapper .dropdown-title
  font-size 15px !important
  font-weight 700 !important

.sidebar
  font-size 15px
  border-right 0px

 @media (max-width: ($MQMobile))
   .sidebar
     border-right 1px solid $borderColor
   .halfsize
     width 100% !important

 @media (min-width: ($MQMobile + 1px))
   table
     display table
     width 100%

table
  font-size: 14px
  margin-right auto
  margin-left auto

tr
  &:nth-child(even)
    background-color #f0f3f6
  &:nth-last-child(1)
   border-bottom 2px solid

th
  padding 10px 15px
  background #3c5064
  color #fff

td, th
  border 0px

.center
  display block
  margin-left auto
  margin-right auto
  width 50%

.halfsize
    width 50%
    height auto

.iframe-container
  overflow hidden
  padding-top 56.25%
  position relative
  
.iframe-container
   iframe
     border 0
     height 100%
     left 0
     position absolute
     top 0
     width 100%
